header {
    max-width: 100%;
    width: 100%;
    height: 30px;
    display: flex;    
}
.nav {
    min-width: 600px;
    width: 80%;
    height: 90%;
    display: flex;
    font-family: 'Rajdhani', sans-serif;   
}